body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
}
nav {
    background-color: rgb(50, 50, 50);
}
.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-right: 3rem;
}
a {
    color: white;
    text-decoration: none;
}
.allObs {
    padding-top: 2vw;
    padding-left: 1vw;
    margin-bottom: 2rem;
    color: rgb(0, 52, 104);
    font-size: 2rem;
    font-weight: bold;
}
.obs {
    padding-top: 2vw;
    margin-bottom: 2rem;
    color: rgb(0, 52, 104);
    font-size: 2rem;
    font-weight: bold;
}
.obs2 {
    padding-top: 2vw;
    padding-bottom: 1vh;
    color: rgb(0, 52, 104);
    font-size: 2rem;
    font-weight: bold;
}
.questions {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: rgb(0, 52, 104);
    text-align: left; 
}
.qContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
}
li {
    margin-bottom: 1rem;
}
.container {
    grid-column: 1 / 4;
    grid-row: 4;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    font-size: 2rem;
    background-color: rgb(0, 13, 26);
}
.titleText {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(250, 250, 250);
}
.titleImg {
    padding-top: 5rem;
    width: 100%; 
    height: 100%;
}
.sketch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    margin-bottom: 5rem;
    background-color: rgb(250, 250, 250);
}
.subheading {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 52, 104);
    margin-bottom: 3rem;
}
.img {
    width: 24rem; 
    height: 33rem;
    padding-left: 7rem;
    padding-right: 7rem;
}
.imgContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    flex-wrap: wrap;
}
.options {
    margin: 5rem;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}
.op1 {
    width: 30vw;
    padding-right: 1vw;
    border-width: 0.5ch;
    border-style: solid;
    border-right-style: none;
    border-color:  rgb(0, 13, 26);
}
.op2 {
    width: 30vw;
    padding-right: 1vw;
    border-width: 0.5ch;
    border-style: solid;
    border-color:  rgb(0, 13, 26);
}
.op3 {
    width: 30vw;
    padding-right: 1vw;
    border-width: 0.5ch;
    border-style: solid;
    border-left-style: none;
    border-color:  rgb(0, 13, 26);
}
.interview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 3rem;
    margin-bottom: 5rem;
    background-image: url("images/questionmark.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: 90%;
    background-position-y: bottom;
}
.persona_description {
    width: 30rem;
    padding-left: 1vw;
    padding-top: 1vw;
    background-color: white;
}
.personaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sophie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.summary {
    padding-left: 1.5vw;
    padding-right: 35vw;
}
.summaryTitle {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: rgb(0, 52, 104);
    text-align: left;
}
.empathy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    background-image: url("images/bpbg.png");
    background-size: 45rem 60rem;
    background-position: 5%, 30%;
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.storyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scene {
    width: 25rem; 
    height: 16rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.sceneRow {
    display: flex; 
    flex-direction: row;
    padding-bottom: 3rem;
    padding-top: 2rem;
    flex-wrap: wrap;
}
.scene_description {
    width: 26rem;
    padding-left: 3vw;
    padding-top: 1vw;
}
.insights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.insight_desc {
    width: 40rem;
    padding-left: 1vw;
    padding-top: 1vw;
}